<%- include( "partials/header") %>
    <h1>Compose</h1>
    <form action="/compose" method="post">
        <label for="newTitle">Title</label>
        <input class="form-control form-control-sm" type="text" id="newTitle" name="postTitle">
        <div class="form-group">
            <label for="newContent">Post</label>
            <textarea class="form-control" id="newContent" name="postBody" rows="5"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Publish</button>
    </form>
    <%- include( "partials/footer") %>